<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech-A-Gram</title>



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Tech-a-gram</a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if logged_in}}
        <li>
          <a href="/profile" class="no-button" id="create">Create post</a>
        </li>
        <li>
          <a "#logout" class="no-button" id="logout">Logout</a>
        </li>

        {{else}}
        <li>
          <a href="/login" class="no-button" id="login">login</a>
        </li>
        {{/if}}

        {{!-- <li><a href="collapsible.html">Logout</a></li> --}}
      </ul>
    </div>
  </nav>




  </header>

  <main class="container container-fluid mt-5">
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>
  <footer>

  </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>